body {
    background-color: #eee;
    font-family: Georgia, serif;
   }
   
   header {
    background-color: rgb(15, 207, 207);
    color: #fff;
    text-align: center;
    padding:15px 20px ;
   }
   #titulo {
    margin: 0px 0px 15px 0px;
   }

   #menuPrincipal {
    background-color: #570545;
   }

   #menuPrincipal ul {
    list-style: none;
    padding:0px 0px 0px 0px;
    color: white;
   }

   #menuPrincipal ul li {
    display: inline;
    margin:0px 15px 0px 15px;
    color:white;
    font-weight: bold;
   }

   .enlaceMenuPrincipal {
    text-decoration: none;
    color: #fff;
    padding:10px 20px 10px 20px;
    font-weight: bold;
   }

   .enlaceMenuPrincipal:hover{
     color:rgb(255, 0, 149);
   }

   .tituloSeccion {
    background-color:  #570545;
    color: #fff;
    padding:10px 10px 10px 10px;
    font-weight: bold;
   }

   article {
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px 10px 10px 10px;
    border: thick double #c099da;
    border-radius: 30px;
    border-width: 1em;
   }

   footer {
    background-color:  #570545;
    color: #fff;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    font-size: 15px;
   }

   /* default hover effect */
a:hover {
    color:  #570545;
    background: rgb(0, 255, 0) 255, 136);
  }
  
  @media (hover: hover) {
    /* when hover is supported */
    a:hover {
      color: white;
      background:  #570545;
    }
  }
  

  .centrado {
    text-align: center;
  }
  